@import url('admin/styles/button.css');
@import url('admin/styles/card.css');
@import url('admin/styles/color-picker.css');
@import url('admin/styles/dialog.css');
@import url('admin/styles/empty-state.css');
@import url('admin/styles/flex-layout.css');
@import url('admin/styles/grid-layout.css');
@import url('admin/styles/icon-picker.css');
@import url('admin/styles/input.css');
@import url('admin/styles/media-picker.css');
@import url('admin/styles/meta-box.css');
@import url('admin/styles/tab-group.css');
@import url('admin/styles/title.css');

:root {
    --yuzu-wordpress-sidebar-background-color: #1d2327;
    --yuzu-wordpress-text-color: #1d2327;
    --yuzu-wordpress-background-color: #f0f0f1;
    --yuzu-wordpress-box-background-color: #ffffff;
    --yuzu-wordpress-box-border-color: #c3c4c7;
    --yuzu-wordpress-box-inner-border-color: #dcdcde;

    --yuzu-woocommerce-product-data-divider-color: #eeeeee;

    --yuzu-wordpress-transparent-background-image:
        linear-gradient(
            45deg,
            var(--yuzu-wordpress-box-border-color) 25%,
            var(--yuzu-wordpress-box-background-color) 25%,
            var(--yuzu-wordpress-box-background-color) 75%,
            var(--yuzu-wordpress-box-border-color) 75%,
            var(--yuzu-wordpress-box-border-color)
        ),
        linear-gradient(
            45deg,
            var(--yuzu-wordpress-box-border-color) 25%,
            var(--yuzu-wordpress-box-background-color) 25%,
            var(--yuzu-wordpress-box-background-color) 75%,
            var(--yuzu-wordpress-box-border-color) 75%,
            var(--yuzu-wordpress-box-border-color)
        );
}
