.yuzu.button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.yuzu.button svg {
    width: 22px;
    height: 22px;
}

.yuzu.button.button-color-danger {
    color: #d63638;
    border: 1px solid #d63638;
}