.yuzu.empty-state {
    padding: 80px 0;
}

.yuzu.empty-state .yuzu.empty-state-icon svg {
    width:   112px;
    height:  112px;
    opacity: 0.5;
}

.yuzu.empty-state h2,
.yuzu.empty-state p {
    opacity: 0.5;
}

.yuzu.empty-state .yuzu.empty-state-title {
    margin:    0;
    font-size: 1.75em;
}