.yuzu.icon-picker {}

.yuzu.icon-picker .yuzu.selected-icon {
    display: block;
    width: 48px;
    height: 48px;
    padding: 8px;
    border: 1px solid #8c8f94;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: #ffffff;
    background-image:
        repeating-linear-gradient(
            45deg,
            #f0f0f1 25%,
            transparent 25%,
            transparent 75%,
            #f0f0f1 75%,
            #f0f0f1
        ),
        repeating-linear-gradient(
            45deg,
            #f0f0f1 25%,
            #ffffff 25%,
            #ffffff 75%,
            #f0f0f1 75%,
            #f0f0f1
        );
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
}

[data-darkreader-scheme="dark"] .yuzu.icon-picker .yuzu.selected-icon {
    background: none;
    filter: invert(100%);
    opacity: 0.66;
}

.yuzu.icon-picker .yuzu.select-icon {
    height: 100%;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-toolbar {
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 1px solid #dcdcde;
    height: 48px;
    padding: 5px 20px;
    margin: -20px -20px 20px;
    position: sticky;
    top: 49px;
    z-index: 1;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border: 1px solid #c3c4c7;
    border-radius: 4px;
    position: relative;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option::after {
    content: attr(data-glyph);
    padding: 0 2px;
    font-size: 8px;
    line-height: 8px;
    height: 8px;
    text-align: center;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option:hover {
    background-color: #fff;
    opacity: 1;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option:focus-within,
.yuzu.icon-picker-dialog .yuzu.icon-picker-option:has(input[type="radio"]:checked) {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 0 3px #2271b1;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option img {
    display: block;
    width: 40px;
    height: 40px;
    opacity: 0.66;
}

[data-darkreader-scheme="dark"] .yuzu.icon-picker-dialog .yuzu.icon-picker-option img {
    filter: invert(100%);
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option:focus-within img,
.yuzu.icon-picker-dialog .yuzu.icon-picker-option:has(input[type="radio"]:checked) img  {
    opacity: 1;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: -8px;
    right: -8px;
    margin: 0;
    width: 20px;
    height: 20px;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option input[type="radio"]:checked::before {
    width: 10px;
    height: 10px;
    margin: 4px;
}

.yuzu.icon-picker-dialog .yuzu.icon-picker-option:hover input[type="radio"],
.yuzu.icon-picker-dialog .yuzu.icon-picker-option:focus-within input[type="radio"],
.yuzu.icon-picker-dialog .yuzu.icon-picker-option input[type="radio"]:checked {
    opacity: 1;
}